<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Weather app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <ion-item>
      <ion-label position="floating">Enter City name</ion-label>
      <ion-input [(ngModel)]="city"></ion-input>  
    </ion-item>
    <ion-button expand="block" (click)="searchPressed()" color="danger">Search</ion-button>

    <ion-card *ngIf="weather">
      <div style="text-align: center">
        <h3>{{weather.dt}}</h3>
        <img src="https://openweathermap.org/img/wn/02d@2x.png
        ">
        <p>{{weather.weather[0].main}}</p>
        <p>{{weather.main.temp - 273.15}} C</p>
        <p>Pressure</p>
        <p>Humidity</p>
        <p></p>
      </div>
    </ion-card>
  </div>
</ion-content>
